HELP.md
*.class
out/
hotelProject.iml 
target/ 
!.mvn/wrapper/maven-wrapper.jar 
!**/src/main/** 
!**/src/test/**
var/
 
### STS ### 
.apt_generated 
.classpath 
.factorypath 
.project 
.settings 
.springBeans 
.sts4-cache 
 
### IntelliJ IDEA ### 
.idea 
*.iws 
*.iml 
*.ipr 
 
### NetBeans ### 
/nbproject/private/ 
/nbbuild/ 
/dist/ 
/nbdist/ 
/.nb-gradle/ 
build/ 
 
### VS Code ### 
.vscode/ 
**/.flattened-pom.xml 
applicationUI-debug.yml